body {
  margin: 0;
  font-family: sans-serif;
}

form {
  margin: 0 auto;
  max-width: 560px;
}

img {
  max-width: 100%;
  margin-bottom: 1.5rem;
}

label,
input,
textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
}

label {
  font-weight: bold;
}

input {
  height: 2rem;
  border-style: solid;
  border-radius: 0.25rem;
  border-width: thin;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
}

textarea {
  border-style: solid;
  border-radius: 0.25rem;
  border-width: thin;
  border-color: rgba(86, 43, 129, 255);
  resize: none;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
}

.save {
  text-align: right;
}

.save-btn {
  color: white;
  background-color: rgba(86, 43, 129, 255);
  border-style: none;
  border-radius: 0.25rem;
  padding: 8px 15px;
  font-weight: bold;
  margin-bottom: 2rem;
  cursor: pointer;
}

header {
  color: white;
  background-color: rgba(86, 43, 129, 255);
  padding: 0.2rem;
}

ul {
  list-style: none;
  padding: 0;
}

p.title {
  font-size: 1.75rem;
  font-weight: bold;
  margin: 0;
}

p {
  line-height: 1.5rem;
}

.entries-placeholder {
  text-align: center;
}

.entries-btn {
  color: white;
  background-color: rgba(86, 43, 129, 255);
  border-style: none;
  margin-top: 1.45rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.new-entry-btn {
  color: white;
  background-color: rgba(86, 43, 129, 255);
  border-style: none;
  border-radius: 0.25rem;
  padding: 8px 16px;
  font-weight: bold;
  margin-top: 1.55rem;
  cursor: pointer;
}

.hidden {
  display: none;
}
